<div class="container-fluid bg-info">
	<div class="container">
		<nav class="navbar navbar-expand-xl navbar-light bg-info">
				<a href="" class="navbar-brand"><img src="images/admin.png" alt="VLXD" class="rounded-circle" width="30px" height="30px"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
					<span class="text-dark">&#9776;</span>
				</button>
			
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav mr-auto">
					<li class="nav-item active">
						<a href="" class="nav-link ">Trang Chủ</a>
					</li>
					<li class="nav-item dropdown">
	    				<a class="nav-link dropdown-toggle" href="#" id="menu1" data-toggle="dropdown">
	    				Slide</a>
				        <div class="dropdown-menu " aria-labelledby="menu1">
					        <a class="dropdown-item nav-link" href="">Thêm</a>
					        <a class="dropdown-item nav-link" href="">Danh Sách</a>
				        </div>
					</li>
				</ul>
				<ul class="nav navbar-nav">
					<form action="" class="form-inline">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Tìm Kiếm" name="search">
							<div class="input-group-append">
								<button class="btn bg-white">
									@
								</button>
							</div>
						</div>
					</form>					
				</ul>
				
				
				
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item dropdown">
		    				<a class="nav-link dropdown-toggle" href="#" id="usermanager" data-toggle="dropdown">
		    					
								<img src="images/admin.png" class="rounded-circle" width="30px" height="30px" alt="">
									    				    				
		    				</a>
					        <div class="dropdown-menu" aria-labelledby="usermanager">
					        	<h6 class="dropdown-header text-center">user</h6>
					        	<h6 class="dropdown-item text-center"><%= user.username%></h6>
						        <a class="dropdown-item nav-link" href="">Thêm</a>
						        <a class="dropdown-item nav-link" href="">Danh Sách</a>

						        <h6 class="dropdown-header text-center">Cá Nhân</h6>
						        <a class="dropdown-item nav-link" href="">Sửa Thông Tin</a>
						        <h6 class="dropdown-header text-center">Cá Nhân</h6>
						        <div class="dropdown-divider"></div>
						        <a class="dropdown-item nav-link" href="logout">Đăng Xuất</a>
						        
					        </div>				     
						</li>
					</ul>										
			</div>
		</nav>
	</div>
</div>
